* {
  box-sizing: border-box;
  font-family: "Montserrat", Arial;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  line-height: 18px;
  color: #515076;

}

.product-card-container {
  width: 340px;
  height: 573px;
  top: 408px;
  left: 85px;
  padding: 25px;
  margin: 45px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
  padding-bottom: 85px;
}

.product-card-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
}

.product-card-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-card-description {
  margin-bottom: 15px;
}

.product-card-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-card-compound-items {
  margin-left: 14px;
}

.product-card-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-card-price {
  font-size: 20px;
  line-height: 24px;
  margin-left: 120px;
}

.product-price-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  gap: 131px;
}

.main-title {
  text-align: center;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  margin-bottom: 90px;
  margin-top: 220px;
}

.background-flowers {
  height: 145px;
}

.product-wrapper {
  width: 1380px;
  height: 1100px;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: 116px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.content-wrapper {
  background-image: url("images/background-flowers.png");
  background-size: 790px 697px;
  background-position: 175px 133px;
  background-repeat: no-repeat;
  width: 1480px;
  height: 1396px;
}

.bg-black {
  background-color: black;
}

.bg-yellow {
  background-color: yellow;
}

.button-wrapper {
  margin-left: 185px;
  display: flex;
  gap: 46px;
}

.product-card-footer {
  width: 1585px;
  background-color: #3A3A3A;
  position: relative;
}

.footer-name {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 700;
  width: 214px;
  line-height: 154%;
  padding: 16px;
}

.footer-slogan {
  color: #FFFFFF;
  margin-left: 18px;
  font-weight: 400;
  font-size: 18px;
}

.vk-logo {
  width: 21px;
  height: 17px;
  margin-left: 18px;
}

.tg-logo {
  width: 21px;
  height: 17px;
  margin-left: 18px;
  margin-top: 39px;
}

.footer-wrapper {
  width: 1569px;
  height: 147px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 85px;
  margin-right: 70px;
  justify-content: left;
  padding: 85px;
}

.left-section {
  width: 409px;
  height: 87px;
}

.center-section {
  width: 477px;
  height: 103px;
  margin-left: 132px;
}

.footer-label {
  color: #FFFFFF;
  width: 350px;
  height: 29px;
  margin-top: 25px;
  font-size: 24px;
  margin-left: 80px;
  margin-bottom: 13px;
}

.footer-input {
  color: black;
  width: 477px;
  height: 61px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  padding-left: 36px;
}

.footer-btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  height: 90%;
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-right: 15px;
  font-weight: 500;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container::after {
  content: "";
  position: absolute;
  left: calc(100% - 163px);
  top: 22px;
  height: 29%;
  bottom: 10px;
  width: 1px;
  background-color: black;
}

.right-section {
  width: 178px;
  height: 110px;
  margin-left: 1290px;
  position: absolute;
}

.footer-link-title {
  font-weight: 500;
  width: 178px;
  height: 23px;
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 23px;
}

.footer-links {
  width: 81px;
  list-style: none;
  margin-top: 23px;
}

.footer-link-item {
  margin-top: 17px;
  width: 178px;
  height: 23px;
}

.footer-links a {
  color: #FFFFFF;
  font-size: 18px;
}

.footer-bottom-text {
  color: #FFFFFF;
  width: 376px;
  height: 22px;
  margin-top: 47px;
  margin-left: 676px;
  font-size: 18px;
  line-height: 0;
  padding-bottom: 38px;
}

.footer-line {
  width: 66px;
  height: 2px;
  background-color: #888; 
  margin-top: 394px;
  margin-left: 830px;
}

.registration-container {
  width: 155px;
  height: 444px;
  margin-left: 45px;
  border-color: #000000;
  position: absolute;
  padding: 5px;
  margin-top: 20px;
}

.registration-input {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 11px;
  color: #000000;
  background-color: blanchedalmond;
}

.registration-btn {
  width: 168px;
  background-color: burlywood;
  color: #FFFFFF;
  height: 62px;
  border-radius: 10px;
}

.authentication-btn {
  margin-left: 50px;
  border-radius: 10px;
  margin-top: 518px;
  width: 128px;
  height: 55px;
  background-color: gray;
  color: ivory;
  position: absolute;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.overlay-showed {
  display: flex;
}

.modal {
  background-color: rgb(42, 84, 84);
  border-radius: 8px;
  padding: 30px;
  width: 400px;
  position: relative;
  display: none;
  z-index: 20;
}

.modal-showed {
  display: block;
}

.modal-title {
  text-align: center;
  color: lightskyblue;
  font-size: 28px;
  margin-bottom: 20px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-form label {
  color: #F7F7FA;
  font-size: 17px;
}

.modal-reg-btn {
  width: 90px;
  height: 35px;
  border-radius: 9px;
  border: none;
}

.modal-input {
  display: flex;
  border-radius: 8px;
  border: none;
  height: 30px;
  padding-left: 8px;
  width: 250px;
  margin-bottom: 20px;
}