* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", Arial;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400px;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  margin: 50px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700px;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-left: 14px;
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
  margin-left: 30px;
}

.product-price-container {
  display: flex;
  align-items: baseline;      
  justify-content: flex-end;  
  gap: 131px;                   
}



