* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", Arial;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

.card-container {
  width: 340px;
  height: 573px;
  top: 408px;
  left: 85px;
  padding: 25px;
  margin: 45px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-left: 14px;
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
  margin-left: 30px;
}

.product-price-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  gap: 131px;
}

.main-title {
  text-align: center;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  position: static;
  width: 846;
  height: 78;
  margin-top: 220px;
  left: 217px;
}

.background {
  background-image: url("images/background.png");
  background-size: 790px 697px;
  background-position: 185px 100px;
  background-repeat: no-repeat;
  width: 790px;
  height: 150px;
  position: relative;
  z-index: 1;
  top: 0px;
  left: 85px;
}

.product-wrapper {
  width: 1380px;
  height: 1191px;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: 116px;
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}